*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-regular: 300;
    --fw-bold: 900;

    --clr-light: #fdf8f5;
    --clr-dark: #8b4116;
    --clr-accent: #dd6824;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-accent);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 1em 1em;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 2px solid var(--clr-dark);
    outline-offset: 2px;
}

form {
    display: flex;
    flex-direction: column;

    margin: 1em;
}

label {
    text-transform: uppercase;
    font-size: 70%;
}

input {
    margin-top: 1px;
    margin-bottom: 10px;
    border: 1;
    height: 2em;
    border-radius: .25em;
    padding: 5px;
    height: 1.5rem;
}

button {
    font-weight: bold;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: .25em;
    text-transform: uppercase;
    min-width: 100px;
    margin: 10px 0;
  }

  button:hover {
    filter: brightness(125%);
    cursor: pointer;
  }

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h2);
}
h2 {
    font-size: var(--fs-h3);
}
h3 {
    font-size: var(--fs-h3);
}

/* Header */


header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.section__title--intro {
    display: block;
    text-align: center;
}

/* Login */

hr {
    color: var(--clr-dark);
    width: 50%;
}

.login--title{
    text-align: center;
    padding-top: .5em;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    flex: auto;
    max-width: 480px;
    max-height: 100%;
    overflow: auto;
    background: var(--clr-light);
    color: var(--clr-accent);
    border-radius: 1em;
  }

  /* Dashboard */

  .balance {
    background: var(--clr-dark);
    text-align: center;
  }
  
  .balance > div {
    color: var(--clr-light);
    padding-top: var(--space-xs);
    text-transform: uppercase;
  }
  
  .balance > span {
    color: var(--clr-light);
    font-size: 3rem;
  }

  .account-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: var(--clr-light);
    font-weight: bold;
    font-size: 1.5rem;
  }

  .transactions{
    background-color:var(--clr-light);
    color: var(--clr-dark);
    margin-left:  1.5rem;
    margin-right:  1.5rem;
    border-radius: .75rem;
    margin-bottom: 1.5rem;
  }

  table {
      margin: 0 auto 0;
      border-spacing: 0;
  }

  thead {
    background: var(--clr-light);
    text-align: left;
  }

  thead th {
      border-bottom: 1px solid;
  }

  tr {
      color: #8b4116;
      width: 40em;
  }

  td {
      width: 20em;
  }

  th, td {
      padding: 0.5em;
  }

  #transactions tr:nth-child(even){
      background:#fdf8f5;
  }

  #transactions tr:nth-child(odd){
    background:#f0bb9d;
    border-color:#f0bb9d ;
}

/* Make the first column use min width */
td:first-child,
th:first-child{
    width: 1%;
    white-space: nowrap;
}

/* Make the last column align right */
td:last-child,
th:last-child{
    text-align: right;
}

/* New Transaction page */
